/* .firstContainer {
    background-color: rgb(248, 248, 141);
    padding: 10px;
    width: 300px;
    margin: auto;
}

.secondContainer {
    background-color: rgb(248, 141, 141);
    padding: 10px;
    width: 300px;
    margin: auto;
}

.thirdContainer {
    background-color: rgb(141, 248, 143);
    padding: 10px;
    width: 300px;
    margin: auto;
} */

/* div.container {
    width: 100%;
    overflow: auto;
}

div.container div {
    width: 30%;
    display: inline-block;
} */

.container {
    display: flex;
}

.container > div {
    width: 30%;
}