<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Layout Float</title>
    <link rel="stylesheet" href="styles_flex.css">
  </head>
  <body>
    <h2>CSS Layout Float</h2>

    <header>
      <h2>Cities</h2>
    </header>

    <section>
      <nav>
        <ul>
          <li><a href="#">London</a></li>
          <li><a href="#">London</a></li>
          <li><a href="#">London</a></li>
        </ul>
      </nav>

      <article>
        <h1>London</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          aliquam debitis omnis facilis eius nemo enim, voluptas facere
          doloribus quibusdam exercitationem deserunt impedit, accusantium
          sapiente porro pariatur placeat ipsa molestiae.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          aliquam debitis omnis facilis eius nemo enim, voluptas facere
          doloribus quibusdam exercitationem deserunt impedit, accusantium
          sapiente porro pariatur placeat ipsa molestiae.
        </p>
      </article>
    </section>

    <footer>Footer</footer>
  </body>
</html>
